<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hasib.a2dcomicspuzzlegame">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <compatible-screens>
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />
    </compatible-screens>

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_avangers"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EasyClass"
            android:theme="@style/AppTheme.Transparent"
            >
          <!--  android:theme="@style/AppTheme.NoActionBar">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".MediumClass" android:screenOrientation="portrait"/>
        <activity android:name=".Splashscreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".securesoft.Securesoft" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"
            ></meta-data>

        <activity android:name=".HardClass" android:screenOrientation="portrait"/>

        <activity android:name=".Option" android:screenOrientation="portrait" />
        <activity android:name=".ModeActivity" android:screenOrientation="portrait" />
        <activity android:name=".ScoreActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SoundActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HowtoworkActivity" android:screenOrientation="portrait"/>
        <activity android:name=".about" android:screenOrientation="portrait"></activity>
    </application>


</manifest>